doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Biens raices
    body(class="min-h-screen bg-emerald-300")
        main(class="mx-auto container mt-10 px-2")
            block contenido